@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-ExtraBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat";
}

body {
    background: #f3f5f9
}

header {
    z-index: 1;
    position: fixed;
    background: #086661;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 60px;
}

.left_area h3 {
    color: #fff;
    font-family: 'Great Wishes';
    margin-left: 0;
    margin-top: -7px;
    font-size: 20px;
    font-weight: 900;
}

.sidebar {
    z-index: 1;
    top: 0;
    background: #0B807A;
    margin-top: 60px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 221px;
    height: calc(100% - 9%);
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
}

.profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .profile_info .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar .profile_info h4 {
    color: rgb(255, 255, 255);
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover {
    background: #598f8d;
}

.sidebar i {
    padding-right: 10px;
}

label #sidebar_btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover {
    color: #598f8d;
}

#check:checked~.sidebar {
    left: -175px;
}

#check:checked~.sidebar a span {
    display: none;
}

#check:checked~.sidebar a {
    font-size: 20px;
    margin-left: 145px;
    width: 100%;
}

#check:checked~.sidebar .profile_info {
    display: none;
}

#check {
    display: none;
}

.mobile_nav {
    display: none;
}

@media screen and (max-width: 780px) {
    .sidebar {
        display: none;
    }
    #sidebar_btn {
        display: none;
    }
    .mobile_nav {
        display: block;
        width: calc(100% - 0%);
    }
    .nav_bar {
        background: #0B807A;
        width: (100% - 0px);
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .nav_bar .mobile_profile_image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .nav_bar .nav_btn {
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        transition: 0.5s;
        transition-property: color;
    }
    .nav_bar .nav_btn:hover {
        color: #598f8d;
    }
    .mobile_nav_items {
        font-family: 'Montserrat', sans-serif;
        background: #0B807A;
        display: none;
    }
    .mobile_nav_items a {
        color: #fff;
        display: block;
        text-align: center;
        letter-spacing: 1px;
        line-height: 60px;
        text-decoration: none;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }
    .mobile_nav_items a:hover {
        background: #598f8d;
    }
    .mobile_nav_items i {
        padding-right: 10px;
    }
    .active {
        display: block;
    }
}

.destination {
    float: center;
    width: 700px;
    height: 400px;
    padding: 3px;
    margin-left: 220px;
    margin-right: auto;
    border-color: black;
    border: 5px;
    padding: 5%;
    font-family: sans-serif;
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
}

<<<<<<< HEAD
.destination h1 {
    font-size: 30px;
    color: #0B807A;
}

.button1{
=======
.button1 {
>>>>>>> 30a86fd59b13629ec63c42359938213acd9f3068
    margin-top: 80px;
    border-width: 3px;
    background-color: #0b807a;
    border-radius: 10px;
}