@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-ExtraBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat";
}

body {
    background: #f3f5f9
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    position: fixed;
    width: 221px;
    height: 100%;
    background: #0b807a;
    padding: 30px 0;
}

.explore {
    color: white;
    font-family: 'Great Wishes';
    font-size: 22px;
    margin-left: 7%;
    margin-top: -5%;
}

.tapalkuda {
    color: white;
    font-family: 'Great Wishes';
    font-size: 22px;
    margin-left: 32%;
    margin-bottom: 20%;
}

.wrapper .sidebar ul li {
    padding: 15px;
}

.wrapper .sidebar ul li a {
    color: #c5eeec;
    display: block;
}

.wrapper .sidebar ul li a .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background: #598f8d;
}

.wrapper .sidebar ul li:hover a {
    color: #fff;
}