@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-ExtraBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat";
}

body {
    background: #f3f5f9
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    position: fixed;
    width: 221px;
    height: 100%;
    background: #0b807a;
    padding: 30px 0;
}

.explore {
    color: white;
    font-family: 'Great Wishes';
    font-size: 22px;
    margin-left: 7%;
    margin-top: -5%;
}

.tapalkuda {
    color: white;
    font-family: 'Great Wishes';
    font-size: 22px;
    margin-left: 32%;
    margin-bottom: 20%;
}

.wrapper .sidebar ul li {
    padding: 15px;
}

.wrapper .sidebar ul li a {
    color: #c5eeec;
    display: block;
}

.wrapper .sidebar ul li a .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background: #598f8d;
}

.wrapper .sidebar ul li:hover a {
    color: #fff;
}

.wrapper .profile {
    width: 83%;
    margin-left: 222px;
}

.wrapper .profile .profile_img_info {
    display: flex;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125);
}

.wrapper .profile .profile_img_info .img {
    width: 65px;
}

.wrapper .profile .profile_img_info .img img {
    width: 80%;
    display: block;
    margin-top: 3px;
    border-radius: 10px;
}

.wrapper .profile .profile_img_info .info {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.wrapper .profile .profile_img_info .info .name {
    font-size: 15px;
    margin-left: 500px;
}

.searchbox {
    position: relative;
    width: 277px;
    height: 32px;
    border: 1px solid #2D7BE9;
    margin-left: 30px;
    margin-top: 12px;
    padding: 0 10px;
    border-radius: 17px;
}

.searchboxelement {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.search {
    border: none;
    width: 100%;
    height: 100%;
    padding: 0, 5px;
    font-size: 17px;
    font-family: 'Times New Roman';
    color: rgb(63, 63, 63);
    font-weight: 500;
}

.search:focus {
    outline: none;
}

.searchbox .searchboxelement a {
    font-size: 26;
    color: rgb(161, 161, 161);
}

h3 {
    margin-left: 252px;
    margin-top: 20px;
}

hr {
    height: 5px;
    width: 200px;
    border: none;
    border-radius: 10px;
    margin-left: 252px;
    background: #0b807a;
    margin-top: 3px;
}

.rd {
    width: 253px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    margin-left: 19%;
}

.flex-container div {
    background-color: #FFFFFF;
    width: 187px;
    margin-top: 15px;
    margin-left: 15px;
    height: 250px;
    border-radius: 10px;
}

.flex-container .baluran .info {
    background-color: rgba(0, 0, 0, 0.336);
    width: 187px;
    height: 57px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    margin-left: 0px;
    margin-top: 192px;
}

.flex-container .baluran .info .address {
    font-size: 13px;
    margin-left: 12px;
    padding-top: 10px;
}

.flex-container .baluran .info .rute {
    font-size: 13px;
    margin-left: 12px;
    margin-top: 3px;
    font-family: 'Times New Roman';
}

.flex-container .ijen .info {
    background-color: rgba(0, 0, 0, 0.336);
    width: 187px;
    height: 57px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    margin-left: 0px;
    margin-top: 192px;
}

.flex-container .ijen .info .address {
    font-size: 13px;
    margin-left: 12px;
    padding-top: 10px;
}

.flex-container .ijen .info .rute {
    font-size: 13px;
    margin-left: 12px;
    margin-top: 3px;
    font-family: 'Times New Roman';
}

.flex-container .bromo .info {
    background-color: rgba(0, 0, 0, 0.336);
    width: 187px;
    height: 57px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    margin-left: 0px;
    margin-top: 192px;
}

.flex-container .bromo .info .address {
    font-size: 13px;
    margin-left: 12px;
    padding-top: 10px;
}

.flex-container .bromo .info .rute {
    font-size: 13px;
    margin-left: 12px;
    margin-top: 3px;
    font-family: 'Times New Roman';
}

.flex-container .madaka .info {
    background-color: rgba(0, 0, 0, 0.336);
    width: 187px;
    height: 57px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    margin-left: 0px;
    margin-top: 192px;
}

.flex-container .madaka .info .address {
    font-size: 13px;
    margin-left: 12px;
    padding-top: 10px;
}

.flex-container .madaka .info .rute {
    font-size: 13px;
    margin-left: 12px;
    margin-top: 3px;
    font-family: 'Times New Roman';
}

.flex-container .papuma .info {
    background-color: rgba(0, 0, 0, 0.336);
    width: 187px;
    height: 57px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    margin-left: 0px;
    margin-top: 192px;
}

.flex-container .papuma .info .address {
    font-size: 13px;
    margin-left: 12px;
    padding-top: 10px;
}

.flex-container .papuma .info .rute {
    font-size: 13px;
    margin-left: 12px;
    margin-top: 3px;
    font-family: 'Times New Roman';
}

.flex-container .kawahwurung .info {
    background-color: rgba(0, 0, 0, 0.336);
    width: 187px;
    height: 57px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    margin-left: 0px;
    margin-top: 192px;
}

.flex-container .kawahwurung .info .address {
    font-size: 13px;
    margin-left: 12px;
    padding-top: 10px;
}

.flex-container .kawahwurung .info .rute {
    font-size: 13px;
    margin-left: 12px;
    margin-top: 3px;
    font-family: 'Times New Roman';
}

.flex-container .kawahilalang .info {
    background-color: rgba(0, 0, 0, 0.336);
    width: 187px;
    height: 57px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    margin-left: 0px;
    margin-top: 192px;
}

.flex-container .kawahilalang .info .address {
    font-size: 13px;
    margin-left: 12px;
    padding-top: 10px;
}

.flex-container .kawahilalang .info .rute {
    font-size: 13px;
    margin-left: 12px;
    margin-top: 3px;
    font-family: 'Times New Roman';
}

.flex-container .ranuagung .info {
    background-color: rgba(0, 0, 0, 0.336);
    width: 187px;
    height: 57px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    margin-left: 0px;
    margin-top: 192px;
}

.flex-container .ranuagung .info .address {
    font-size: 13px;
    margin-left: 12px;
    padding-top: 10px;
}

.flex-container .ranuagung .info .rute {
    font-size: 13px;
    margin-left: 12px;
    margin-top: 3px;
    font-family: 'Times New Roman';
}

.flex-container .cobansriti .info {
    background-color: rgba(0, 0, 0, 0.336);
    width: 187px;
    height: 57px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    margin-left: 0px;
    margin-top: 192px;
}

.flex-container .cobansriti .info .address {
    font-size: 13px;
    margin-left: 12px;
    padding-top: 10px;
}

.flex-container .cobansriti .info .rute {
    font-size: 13px;
    margin-left: 12px;
    margin-top: 3px;
    font-family: 'Times New Roman';
}

.flex-container .tumpak .info {
    background-color: rgba(0, 0, 0, 0.336);
    width: 187px;
    height: 57px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    margin-left: 0px;
    margin-top: 192px;
}

.flex-container .tumpak .info .address {
    font-size: 13px;
    margin-left: 12px;
    padding-top: 10px;
}

.flex-container .tumpak .info .rute {
    font-size: 13px;
    margin-left: 12px;
    margin-top: 3px;
    font-family: 'Times New Roman';
}

.baluran {
    background: url(baluran2.jpg);
    background-size: cover;
}

.ijen {
    background: url(bluefire.jpg);
    background-size: cover;
}

.bromo {
    background: url(bromo2.jpg);
    background-size: cover;
}

.madaka {
    background: url(madaka.jpg);
    background-size: cover;
}

.papuma {
    background: url(papuma.jpg);
    background-size: cover;
}

.kawahilalang {
    background: url(KawahIlalang.jpg);
    background-size: cover;
}

.kawahwurung {
    background: url(Kawahwurung.jpg);
    background-size: cover;
}

.ranuagung {
    background: url(ranuagung.jpg);
    background-size: cover;
}

.cobansriti {
    background: url(cobansriti.jpg);
    background-size: cover;
}

.tumpak {
    background: url(ts.jpg);
    background-size: cover;
}