@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {
    z-index: 1;
    position: fixed;
    background: #086661;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 20px;
}

.left_area h3 {
    color: #fff;
    font-family: 'Great Wishes';
    margin-left: 0;
    margin-top: -7px;
    font-size: 20px;
    font-weight: 900;
}

.sidebar {
    z-index: 1;
    top: 0;
    background: #0B807A;
    margin-top: 60px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 221px;
    height: calc(100% - 9%);
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
}

.profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .profile_info .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar .profile_info h4 {
    color: rgb(255, 255, 255);
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover {
    background: #598f8d;
}

.sidebar i {
    padding-right: 10px;
}

label #sidebar_btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover {
    color: #598f8d;
}

#check:checked~.sidebar {
    left: -175px;
}

#check:checked~.sidebar a span {
    display: none;
}

#check:checked~.sidebar a {
    font-size: 20px;
    margin-left: 145px;
    width: 100%;
}

#check:checked~.sidebar .profile_info {
    display: none;
}

#check {
    display: none;
}

.mobile_nav {
    display: none;
}

@media screen and (max-width: 780px) {
    .sidebar {
        display: none;
    }
    #sidebar_btn {
        display: none;
    }
    .mobile_nav {
        display: block;
        width: calc(100% - 0%);
    }
    .nav_bar {
        background: #0B807A;
        width: (100% - 0px);
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .nav_bar .mobile_profile_image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .nav_bar .nav_btn {
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        transition: 0.5s;
        transition-property: color;
    }
    .nav_bar .nav_btn:hover {
        color: #598f8d;
    }
    .mobile_nav_items {
        font-family: 'Montserrat', sans-serif;
        background: #0B807A;
        display: none;
    }
    .mobile_nav_items a {
        color: #fff;
        display: block;
        text-align: center;
        letter-spacing: 1px;
        line-height: 60px;
        text-decoration: none;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }
    .mobile_nav_items a:hover {
        background: #598f8d;
    }
    .mobile_nav_items i {
        padding-right: 10px;
    }
    .active {
        display: block;
    }
}

.first {
    margin-top: 6%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 252px;
    margin-top: 20px;
}

hr {
    height: 5px;
    width: 200px;
    border: none;
    border-radius: 10px;
    margin-left: 252px;
    background: #0b807a;
    margin-top: 0;
}

.rd {
    width: 253px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin-left: 19%;
}

.flex-container div {
    background-color: #FFFFFF;
    width: 18.3%;
    margin-top: 15px;
    margin-left: 15px;
    height: 250px;
    border-radius: 10px;
}

.flex-container .baluran .info {
    background-color: rgba(0, 0, 0, 0.336);
    width: 187px;
    height: 57px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    margin-left: 0px;
    margin-top: 192px;
}

.flex-container .baluran .info .address {
    font-size: 13px;
    margin-left: 12px;
    padding-top: 10px;
}

.flex-container .baluran .info .rute {
    font-size: 13px;
    margin-left: 12px;
    margin-top: 3px;
    font-family: 'Times New Roman';
}

.flex-container .ijen .info {
    background-color: rgba(0, 0, 0, 0.336);
    width: 187px;
    height: 57px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    margin-left: 0px;
    margin-top: 192px;
}

.flex-container .ijen .info .address {
    font-size: 13px;
    margin-left: 12px;
    padding-top: 10px;
}

.flex-container .ijen .info .rute {
    font-size: 13px;
    margin-left: 12px;
    margin-top: 3px;
    font-family: 'Times New Roman';
}

.flex-container .bromo .info {
    background-color: rgba(0, 0, 0, 0.336);
    width: 187px;
    height: 57px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    margin-left: 0px;
    margin-top: 192px;
}

.flex-container .bromo .info .address {
    font-size: 13px;
    margin-left: 12px;
    padding-top: 10px;
}

.flex-container .bromo .info .rute {
    font-size: 13px;
    margin-left: 12px;
    margin-top: 3px;
    font-family: 'Times New Roman';
}

.flex-container .madaka .info {
    background-color: rgba(0, 0, 0, 0.336);
    width: 187px;
    height: 57px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    margin-left: 0px;
    margin-top: 192px;
}

.flex-container .madaka .info .address {
    font-size: 13px;
    margin-left: 12px;
    padding-top: 10px;
}

.flex-container .madaka .info .rute {
    font-size: 13px;
    margin-left: 12px;
    margin-top: 3px;
    font-family: 'Times New Roman';
}

.flex-container .papuma .info {
    background-color: rgba(0, 0, 0, 0.336);
    width: 187px;
    height: 57px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    margin-left: 0px;
    margin-top: 192px;
}

.flex-container .papuma .info .address {
    font-size: 13px;
    margin-left: 12px;
    padding-top: 10px;
}

.flex-container .papuma .info .rute {
    font-size: 13px;
    margin-left: 12px;
    margin-top: 3px;
    font-family: 'Times New Roman';
}

.flex-container .kawahwurung .info {
    background-color: rgba(0, 0, 0, 0.336);
    width: 187px;
    height: 57px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    margin-left: 0px;
    margin-top: 192px;
}

.flex-container .kawahwurung .info .address {
    font-size: 13px;
    margin-left: 12px;
    padding-top: 10px;
}

.flex-container .kawahwurung .info .rute {
    font-size: 13px;
    margin-left: 12px;
    margin-top: 3px;
    font-family: 'Times New Roman';
}

.flex-container .kawahilalang .info {
    background-color: rgba(0, 0, 0, 0.336);
    width: 187px;
    height: 57px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    margin-left: 0px;
    margin-top: 192px;
}

.flex-container .kawahilalang .info .address {
    font-size: 13px;
    margin-left: 12px;
    padding-top: 10px;
}

.flex-container .kawahilalang .info .rute {
    font-size: 13px;
    margin-left: 12px;
    margin-top: 3px;
    font-family: 'Times New Roman';
}

.flex-container .ranuagung .info {
    background-color: rgba(0, 0, 0, 0.336);
    width: 187px;
    height: 57px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    margin-left: 0px;
    margin-top: 192px;
}

.flex-container .ranuagung .info .address {
    font-size: 13px;
    margin-left: 12px;
    padding-top: 10px;
}

.flex-container .ranuagung .info .rute {
    font-size: 13px;
    margin-left: 12px;
    margin-top: 3px;
    font-family: 'Times New Roman';
}

.flex-container .cobansriti .info {
    background-color: rgba(0, 0, 0, 0.336);
    width: 187px;
    height: 57px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    margin-left: 0px;
    margin-top: 192px;
}

.flex-container .cobansriti .info .address {
    font-size: 13px;
    margin-left: 12px;
    padding-top: 10px;
}

.flex-container .cobansriti .info .rute {
    font-size: 13px;
    margin-left: 12px;
    margin-top: 3px;
    font-family: 'Times New Roman';
}

.flex-container .tumpak .info {
    background-color: rgba(0, 0, 0, 0.336);
    width: 187px;
    height: 57px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    margin-left: 0px;
    margin-top: 192px;
}

.flex-container .tumpak .info .address {
    font-size: 13px;
    margin-left: 12px;
    padding-top: 10px;
}

.flex-container .tumpak .info .rute {
    font-size: 13px;
    margin-left: 12px;
    margin-top: 3px;
    font-family: 'Times New Roman';
}

#card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

#card {
    transition: 0.5s ease;
    cursor: pointer;
}

.baluran {
    background: url(baluran2.jpg);
    background-size: cover;
}

.ijen {
    background: url(bluefire.jpg);
    background-size: cover;
}

.bromo {
    background: url(bromo2.jpg);
    background-size: cover;
}

.madaka {
    background: url(madaka.jpg);
    background-size: cover;
}

.papuma {
    background: url(papuma.jpg);
    background-size: cover;
}

.kawahilalang {
    background: url(KawahIlalang.jpg);
    background-size: cover;
}

.kawahwurung {
    background: url(Kawahwurung.jpg);
    background-size: cover;
}

.ranuagung {
    background: url(ranuagung.jpg);
    background-size: cover;
}

.cobansriti {
    background: url(cobansriti.jpg);
    background-size: cover;
}

.tumpak {
    background: url(ts.jpg);
    background-size: cover;
}