body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: url(background.jpg);
    background-size: cover;
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-ExtraBold.ttf);
}

.signinbox {
    width: 700px;
    height: 800px;
    background-color: #FFFFFF;
    left: 50%;
    position: absolute;
    box-sizing: border-box;
}

.title {
    width: 700px;
    height: 800px;
    background-color: #00000080;
    right: 50%;
    position: absolute;
    box-sizing: border-box;
}

.title h1 {
    text-align: center;
    color: white;
    font-size: 27px;
    font-family: 'Great Wishes';
    padding-top: 3%;
    margin-right: 30%;
}

.title p {
    color: white;
    font-size: 20px;
    font-family: 'Montserrat';
    margin-left: 16%;
    line-height: 7px;
}

h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 27px;
    font-family: 'Montserrat';
}

.Button1 {
    width: 62%;
    border: none;
    outline: none;
    height: 44px;
    background: #2884E0;
    color: white;
    font-family: 'Montserrat';
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 19%;
}

.signinbox p {
    padding-top: 0px;
    margin-left: 19%;
    font-family: 'Arial';
    font-size: 20px;
}

.signinbox input {
    width: 59%;
    border-color: #3C8CDD;
    height: 35px;
    border-radius: 10px;
    padding-left: 19px;
    margin-top: -35%;
    margin-left: 132px;
}

.signin {
    width: 28%;
    border: none;
    outline: none;
    height: 44px;
    background: #FB314C;
    color: white;
    font-family: 'Montserrat';
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 19%;
    margin-top: 3%;
}

.signup {
    font-family: 'Arial';
    font-size: 12px;
}